.appointment_page_user{
    width: 99%;
    height: fit-content;
    padding: 10px 0;
    margin: 0;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.appointment_box{
    width: 100%;
    border-radius: 4px;
    margin-top: 8px;
    height: fit-content;
    min-height: fit-content;
    padding: 10px 0;
    background-color: rgb(32, 41, 64);
  background: #202940;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
    position: relative;
    overflow: hidden;
}
.appointment_box_top{
    width: 100%;
    height: fit-content;
    position: absolute;
    position: relative;
    padding: 2px 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.appointment_box_top_img{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appointment_box_top_img img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    padding: 5px;
}
.appointment_box_top_data{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
  
}
.appointment_box_top_data h2{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-weight: 100;
    margin-bottom: 10px;
}
.appointment_box_top_data h3{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-top: 4px;
    color: rgb(255, 255, 255);
    font-weight: 80;
    margin: 5px 0;
    margin-left: 10px;
}
.appointment_box_top_data h4{
    color: rgb(219, 219, 219);
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 4px;
    margin-left: 10px;
    font-weight: 70;
}
.appointment_box_middle{
    width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.appointment_box_middle button{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-right: 10px;
    outline: none;
    border: none;
    width: fit-content;
    padding: 4px 4px;
    color: white;
    border-radius: 3px;
    background-color: rgba(65, 65, 160, 1);
    transition: all 200ms ease;
}
.appointment_box_middle button:hover{
    opacity: 0.7;
}
.appointment_box_end{
    display: flex;
    width: 100%;
    height: fit-content;
    min-height: fit-content;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
.appointment_box_select{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#box{
    width: 100%;
}
.appointment_box_select .but{
   margin: 5px;
}
.appointment_box_end_final_submit{
    width: 100%;
    margin-top: 5px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
}
.appointment_box_end_final_submit button{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-right: 10px;
    outline: none;
    border: none;
    width: fit-content;
    padding: 5px 5px;
    color: white;
    border-radius: 3px;
    background: linear-gradient(
        60deg,#288c6c,#4ea752);
    transition: all 200ms ease;
}
.btn-primary{
    background-color: transparent;
    background-image: linear-gradient(
        60deg,#288c6c,#4ea752);
        outline: none;
        border: none;
}
.btn-outline-primary{
    background-color: transparent;
}
.appointment_box_end_final_submit button:hover{
    opacity: 0.7;
}
.turn_box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    width: 100%;
}
.turn_box h4{
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
    font-size: 16px;
}
.Private_Chat_Div{
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 5px 0;
}
.Private_Chat_Div_box{
    border-radius: 4px;
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 5px 0;
    background-color: rgb(32, 41, 64);
  background: #202940;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  cursor: pointer;
  transition: all 200ms ease;
}
.Private_Chat_Div_box:hover{
    box-shadow: 0 1px 4px 0 rgb(0, 0, 0);
}
.Private_Chat_Div_box div{
    display: flex;
    flex-direction: row;
    padding: 4px 0;
    justify-content: space-between;
    height: fit-content;
    flex-wrap: wrap;
}
.Private_Chat_Div_box div:nth-child(2){
    justify-content: flex-end;
    align-items: flex-end;
}
.Private_Chat_Div_box div h2{
    color: white;
    margin-right: 5px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 100;
}
.Private_Chat_Div_box div h3{
    font-size: 16px;
    color: white;
    margin-right: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 10;
}
.appointment_admin_top{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .appointment_admin_top div{
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: fit-content;
  }
  .appointment_admin_top div h2{
    font-size: 20px;
    color: white;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
  }
  .appointment_admin_top div h2:nth-child(1){
      font-weight: 300;
      font-size: 22px;
  }
  .appointment_admin_top div h2 span{
      font-weight: 600;
  }
  .appointment_admin_top div:nth-child(2){
      margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .appointment_admin_top div:nth-child(3){
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .appointment_admin_top div h3{
    font-size: 15px;
    color: white;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
  }
  .appointment_admin_top div h3 span{
      font-weight: 300;
      font-size: 18px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  }
  .appointment_admin_middle{
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .appointment_admin_middle button{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-right: 10px;
    outline: none;
    border: none;
    width: fit-content;
    padding: 5px 5px;
    color: white;
    border-radius: 3px;
    background: linear-gradient(
        60deg,#288c6c,#4ea752);
    transition: all 200ms ease;
  }
  .appointment_admin_middle button:hover{
      opacity: 0.7;
  }
@media only screen and (max-width: 900px){
    .appointment_box_top_img{
        width: 100%;
    }
    .appointment_box_top_data{
        margin-top: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .appointment_box_top_data h2{
        margin-left: 0;
    }
    .appointment_box_top_data h3{
        margin-left: 0;
    }
    .appointment_box_top_data h4{
        margin-left: 0;
    }
}
@media only screen and (max-width: 300px){
.Private_Chat_Div_box div{
    justify-content: center;
    align-items: center;
    text-align: center;
}
}
@media only screen and (max-width: 450px){
    .appointment_admin_top div{
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .appointment_admin_top div h2{
        margin: 0;
        margin-top: 5px;
    }
}